@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: 234 67% 91%;
    --foreground: 231 48% 20%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 233 45% 82%;
    --secondary-foreground: 231 48% 28%;
    --muted: 233 45% 88%;
    --muted-foreground: 231 48% 35%;
    --accent: 233 45% 72%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 45% 82%;
    --input: 233 45% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 233 45% 72%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 231 48% 10%;
    --foreground: 234 67% 91%;
    --card: 231 48% 15%;
    --card-foreground: 234 67% 91%;
    --popover: 231 48% 10%;
    --popover-foreground: 234 67% 91%;
    --primary: 233 45% 72%;
    --primary-foreground: 231 48% 10%;
    --secondary: 231 48% 20%;
    --secondary-foreground: 234 67% 91%;
    --muted: 231 48% 20%;
    --muted-foreground: 234 67% 70%;
    --accent: 231 48% 25%;
    --accent-foreground: 234 67% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 20%;
    --input: 231 48% 20%;
    --ring: 233 45% 72%;
    --chart-1: 233 45% 72%;
    --chart-2: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
