@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: 231 67% 94%;
    --foreground: 240 5% 25%;
    --card: 0 0% 100%;
    --card-foreground: 240 5% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 25%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5% 15%;
    --muted: 240 5% 94%;
    --muted-foreground: 240 5% 45%;
    --accent: 232 38% 68%;
    --accent-foreground: 240 5% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 90%;
    --input: 240 5% 92%;
    --ring: 231 48% 48%;
    --radius: 0.75rem;
    --chart-1: 231 48% 48%;
    --chart-2: 190 80% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 340 80% 65%;
    --chart-5: 120 70% 45%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 240 5% 90%;
    --card: 240 5% 10%;
    --card-foreground: 240 5% 90%;
    --popover: 240 10% 4%;
    --popover-foreground: 240 5% 90%;
    --primary: 231 48% 68%;
    --primary-foreground: 240 5% 10%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 240 5% 90%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 60%;
    --accent: 232 38% 48%;
    --accent-foreground: 240 5% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 231 48% 68%;
    --chart-1: 231 48% 68%;
    --chart-2: 190 80% 60%;
    --chart-3: 30 80% 65%;
    --chart-4: 340 80% 75%;
    --chart-5: 120 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
